/* Reset CSS */
body, ul, h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* design */
body {
    background-color: rgb(226, 225, 225);
}

.bucketlist {
    background-color: #f2f2f2;
    width: 500px;
    height: auto;
    margin: 100px auto;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0px 0px 20px rgb(169, 169, 169);
    overflow: hidden;
}

.bucket-list-header {
    background-color: white;
    padding: 25px 0;
    border-bottom: 3px solid #ddd;
    
}

.bucket-list-header h1 {
    border-left: 5px solid rgb(208, 154, 246);
    padding-left: 10px;
    color: rgb(208, 154, 246);
    
}

.bucket-list-contents {
    padding: 20px 0;
}

.list-item li{
    /* background-color: blueviolet; */
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #ddd;
    background-color: #fff;
    color: rgb(166, 166, 166);
    font-weight: bold;
}

.list-item li:hover {
    border: 3px solid rgb(208, 154, 246);
    color: rgb(208, 154, 246);
}