.wrapper {
    margin: 0 auto;
}

body {
    background: linear-gradient(to right, rgb(255, 193, 255), rgb(166, 221, 255));
}

.wrapper {
    width: 800px;
    /* background: linear-gradient(to right, rgb(255, 193, 255), rgb(166, 221, 255)); */
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(109, 109, 109);
}

.header {
    /* background-color: cornflowerblue; */
    /* color: rgb(172, 115, 251); */
    height: 90px;
}

.header h1 {
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}

.main {
    /* background-color: lightpink; */
}

.contents {
    margin: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

.chkimg {
    width: 20px;
    height: 20px;
    
}

.title {
    margin: 10px;
}

.textarea {
    width: 90%;
    height: 150px;
    border: 0;
    box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.465);
    resize: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.textarea:focus {
    outline: none;
}

.text1 {
    text-align: center;
}

.agree {
    text-align: right;
}

.agree label {
    font-size: 13px;
}

.footer {
    /* background-color: thistle; */
    height: 100px;
    text-align: center;
}

.btngo {
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: 0;
    background-color: rgb(185, 136, 255);
    border-radius: 30px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.btngo:hover {
    background-color: rgb(165, 101, 255);
}
