body {
    margin: 0;
}

input {
    padding: 0;
}

/* design */
.header {
    padding: 10px;
}

.wrapper {
    background-color: aquamarine;
    margin: 100px auto;
    width: 800px;
    
}


.main {
    background-color: blue;
    
}

.form {
    background-color: thistle;
    width: auto;
    height: auto;
    /* display: inline-block; */
    text-align: center;
}

.form label {
    margin: 10px 0;
    font-size: 13px;
    font-weight: bold;
    
}



.form input, .btn {
    width: 350px;
    height: 35px;
    /* display: block; */
    margin: 0 auto 10px;
}

.form .birth {
    width: 350px ;
}

.form .sex label{
    margin: 10px -100px;
}


.footer {
    background-color: blueviolet;
    margin-top: 20px;
    height: 40px;
}